@import "tailwindcss";
/* FLOAT ANIMATION */
@keyframes float {
  0%, 100% {
    transform: translateY(0px);
  }
  50% {
    transform: translateY(-12px);
  }
}
@keyframes pop {
  0% { transform: scale(0.4); opacity: 0.2; }
  70% { transform: scale(1.3); opacity: 1; }
  100% { transform: scale(1); }
}


.float-animation {
  animation: float 6s ease-in-out infinite;
}
